<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

<h1>Welcome to Lab Component</h1>

<p> You need to login for continuing ahead</p>


     <form  #userForm="ngForm"> 

      {{userForm.value | json}}
       <div class="form-group">
     <input type="email" value="email"  name="username "  class ="form-control" [(ngModel)]=login.username >
    </div>


    <div class="form-group">
     <input type="password" value="pass"  name="pass "  class ="form-control" [(ngModel)]=login.pass> 
     </div>
    


     <div class="form-group">
     <button mat-button (click)="onClick()"> Enter </button>
    </div>
     {{email}}
     {{pass}}
     </form>-->
<!--<app-background></app-background>-->
    <!-- <app-rack-enter></app-rack-enter>-->

    <div *ngIf="!validLogin" class="container">
      <div>
        User Name : <input type="text" name="username" [(ngModel)]="username">
        Password : <input type="password" name="password" [(ngModel)]="password">
      </div>
      <button (click)=checkLogin() class="btn btn-success">
        Login
      </button>
    </div>

<app-background *ngIf = "validLogin && roles===lab[0]"></app-background>
<app-background-cohort *ngIf = "validLogin && roles===lab[1]"></app-background-cohort>
<router-outlet></router-outlet>