<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)"  matInput placeholder="Filter">
</mat-form-field>


<button mat-button (click)="onSociodemo()" >Personal Details</button>
<button mat-button (click)="onTest()" >Test Details</button>
<button mat-button (click)="onLabStatus()" >Lab Status Details</button>
<button mat-button (click)="onOtherDetails()">Other Details</button>

<div *ngIf="isSocio" >


<div class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
    
  


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

     <ng-container matColumnDef="ADBS_ID"  class="example-item" class="example-item">
      <th mat-header-cell *matHeaderCellDef>ADBS_ID</th>
     
      <td mat-cell *matCellDef="let element">{{element.adbs_ID}}</td>
      
    </ng-container> 
 
 
    <ng-container matColumnDef="Assessment_ID" class="example-item">
    <th mat-header-cell *matHeaderCellDef> Assessment_ID</th>
    <td mat-cell *matCellDef="let element"> {{element.assessment_ID}} </td>
  </ng-container>
  

  
   <ng-container matColumnDef="D_no" class="example-item">
    <th mat-header-cell *matHeaderCellDef> D_no </th>
    <td mat-cell *matCellDef="let element"> {{element.d_no}} </td>
  </ng-container>

  
  <ng-container matColumnDef="Family_no" class="example-item">
    <th mat-header-cell *matHeaderCellDef> Family_no </th>
    <td mat-cell *matCellDef="let element"> {{element.family_no}} </td>
  </ng-container>

  <ng-container matColumnDef="p_name" class="example-item">
    <th mat-header-cell *matHeaderCellDef> p_name </th>
    <td mat-cell *matCellDef="let element"> {{element.p_name}} </td>
  </ng-container>

  <ng-container matColumnDef="date_of_consent" class="example-item">
    <th mat-header-cell *matHeaderCellDef> date_of_consent </th>
    <td mat-cell *matCellDef="let element"> {{element.date_of_consent}} </td>
  </ng-container>

  <ng-container matColumnDef="lab_group" class="example-item">
    <th mat-header-cell *matHeaderCellDef> lab_group </th>
    <td mat-cell *matCellDef="let element"> {{element.lab_group}} </td>
  </ng-container>

  <ng-container matColumnDef="remarks" class="example-item">
    <th mat-header-cell *matHeaderCellDef> remarks </th>
    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
  </ng-container>

  <ng-container matColumnDef="date_of_assessment" class="example-item">
    <th mat-header-cell *matHeaderCellDef> date_of_assessment </th>
    <td mat-cell *matCellDef="let element"> {{element.date_of_assessment}} </td>
  </ng-container>

 

  <ng-container matColumnDef="viewOther"  class="example-item">
    <th mat-header-cell *matHeaderCellDef>viewOther</th>
   
    <td mat-cell *matCellDef="let element"><button mat-button (click)="onClick1(element)">ClickMe!!</button></td>
    
  </ng-container>
  <ng-container matColumnDef="EditDetails"  class="example-item">
    <th mat-header-cell *matHeaderCellDef>EditDetails</th>
   
    <td mat-cell *matCellDef="let element"><button mat-button (click)="onEdit(element)">ClickMe!!</button></td>
    
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</cdk-virtual-scroll-viewport>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>



<div *ngIf="isTest" >
<div class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
    
  


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="ADBS_ID"  class="example-item" class="example-item">
    <th mat-header-cell *matHeaderCellDef>ADBS_ID</th>
   
    <td mat-cell *matCellDef="let element">{{element.adbs_ID}}</td>
    
  </ng-container> 


  <ng-container matColumnDef="Assessment_ID" class="example-item">
  <th mat-header-cell *matHeaderCellDef> Assessment_ID</th>
  <td mat-cell *matCellDef="let element"> {{element.assessment_ID}} </td>
</ng-container>



<ng-container matColumnDef="sociodemography" class="example-item">
  <th mat-header-cell *matHeaderCellDef> sociodemography</th>
  <td mat-cell *matCellDef="let element"> {{element.sociodemography}} </td>
</ng-container>

<ng-container matColumnDef="HOPI" class="example-item">
  <th mat-header-cell *matHeaderCellDef> HOPI </th>
  <td mat-cell *matCellDef="let element"> {{element.hopi}} </td>
</ng-container>

<ng-container matColumnDef="Developmental" class="example-item">
  <th mat-header-cell *matHeaderCellDef> Developmental</th>
  <td mat-cell *matCellDef="let element"> {{element.developmental}} </td>
</ng-container>

<ng-container matColumnDef="physical_exam" class="example-item">
  <th mat-header-cell *matHeaderCellDef> physical_exam </th>
  <td mat-cell *matCellDef="let element"> {{element.physical_exam}} </td>
</ng-container>

<ng-container matColumnDef="MSE" class="example-item">
  <th mat-header-cell *matHeaderCellDef> MSE </th>
  <td mat-cell *matCellDef="let element"> {{element.mse}} </td>
</ng-container>

<ng-container matColumnDef="Life_chart" class="example-item">
  <th mat-header-cell *matHeaderCellDef> Life_chart </th>
  <td mat-cell *matCellDef="let element"> {{element.life_chart}} </td>
</ng-container>

<ng-container matColumnDef="Treatment" class="example-item">
  <th mat-header-cell *matHeaderCellDef> Treatment </th>
  <td mat-cell *matCellDef="let element"> {{element.treatment}} </td>
</ng-container>

<ng-container matColumnDef="DSM5CC" class="example-item">
  <th mat-header-cell *matHeaderCellDef> DSM5CC </th>
  <td mat-cell *matCellDef="let element"> {{element.dsm5CC}} </td>
</ng-container>

<ng-container matColumnDef="Pedigree" class="example-item">
  <th mat-header-cell *matHeaderCellDef> Pedigree </th>
  <td mat-cell *matCellDef="let element"> {{element.pedigree}} </td>
</ng-container>


<ng-container matColumnDef="FIGS" class="example-item">
  <th mat-header-cell *matHeaderCellDef> FIGS</th>
  <td mat-cell *matCellDef="let element"> {{element.figs}} </td>
</ng-container>

<ng-container matColumnDef="MINI" class="example-item">
  <th mat-header-cell *matHeaderCellDef> MINI </th>
  <td mat-cell *matCellDef="let element"> {{element.mini}} </td>
</ng-container>

<ng-container matColumnDef="ASRS" class="example-item">
  <th mat-header-cell *matHeaderCellDef> ASRS </th>
  <td mat-cell *matCellDef="let element"> {{element.asrs}} </td>
</ng-container>

<ng-container matColumnDef="HMSE" class="example-item">
  <th mat-header-cell *matHeaderCellDef> HMSE </th>
  <td mat-cell *matCellDef="let element"> {{element.hmse}} </td>
</ng-container>

<ng-container matColumnDef="CGI_S" class="example-item">
  <th mat-header-cell *matHeaderCellDef> CGI_S </th>
  <td mat-cell *matCellDef="let element"> {{element.cgi_S}} </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>
</cdk-virtual-scroll-viewport>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>



<div *ngIf="isLab" >
  <div class="cdk-virtual-scroll-data-source-example">
    <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="50" class="example-viewport">
      
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="DNO" class="example-item">
      <th mat-header-cell *matHeaderCellDef> D_no </th>
      <td mat-cell *matCellDef="let element"> {{element.id.dNo}} </td>
    </ng-container>


    <ng-container matColumnDef="Sample" class="example-item">
      <th mat-header-cell *matHeaderCellDef> Sample No </th>
      <td mat-cell *matCellDef="let element"> {{element.id.sampleNo}} </td>
    </ng-container>
  
    

    <ng-container matColumnDef="DNA"  class="example-item">
      <th mat-header-cell *matHeaderCellDef>DNA Status</th>
     
      <td mat-cell *matCellDef="let element"><button mat-button  [style.background-color]="color[element. dnaStatus]" >{{lab_status[element.dnaStatus]}}</button></td>
      <!--<td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==1" [style.background-color]="color[1]" (click)="onEdit(element)">ClickMe!!</button></td>
      <td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==2" [style.background-color]="color[2]" (click)="onEdit(element)">ClickMe!!</button></td>-->
    </ng-container>

    <ng-container matColumnDef="PBMC"  class="example-item">
      <th mat-header-cell *matHeaderCellDef>PBMC Status</th>
     
      <td mat-cell *matCellDef="let element"><button mat-button  [style.background-color]="color[element.pbmncStatus ]" >{{lab_status[element.pbmncStatus]}}</button></td>
      <!--<td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==1" [style.background-color]="color[1]" (click)="onEdit(element)">ClickMe!!</button></td>
      <td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==2" [style.background-color]="color[2]" (click)="onEdit(element)">ClickMe!!</button></td>-->
    </ng-container>

    <ng-container matColumnDef="Geneprint"  class="example-item">
      <th mat-header-cell *matHeaderCellDef>Geneprint Status</th>
     
      <td mat-cell *matCellDef="let element"><button mat-button  [style.background-color]="color[element.geneprintStatus]" >{{lab_status[element.geneprintStatus]}}</button></td>
      <!--<td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==1" [style.background-color]="color[1]" (click)="onEdit(element)">ClickMe!!</button></td>
      <td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==2" [style.background-color]="color[2]" (click)="onEdit(element)">ClickMe!!</button></td>-->
    </ng-container>

    <ng-container matColumnDef="Mycoplasma"  class="example-item">
      <th mat-header-cell *matHeaderCellDef>Mycoplasma Status</th>
     
      <td mat-cell *matCellDef="let element"><button mat-button  [style.background-color]="color[element.mycoplasmaStatus]" >{{lab_status[element.mycoplasmaStatus]}}</button></td>
      <!--<td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==1" [style.background-color]="color[1]" (click)="onEdit(element)">ClickMe!!</button></td>
      <td mat-cell *matCellDef="let element"><button mat-button  *ngIf="element.dna_Status==2" [style.background-color]="color[2]" (click)="onEdit(element)">ClickMe!!</button></td>-->
    </ng-container>


    
    <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>
  </cdk-virtual-scroll-viewport>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
  </div>
  
  