table {
  width: 100%;
}
.mat-table {
  /* overflow-x: scroll;
  overflow-y: scroll; */
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 2px 10px;
  line-break: unset;
  /*width: 100%;*/
  white-space: nowrap;
  overflow:initial;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
  padding: 1px;
}
.cdk-virtual-scroll-data-source-example .example-viewport  {
  height: 500px;
  
  border: 2px solid black;
}



.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
}

.export-container {
  text-align: right;
  margin-bottom: 20px;
}