<mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
  </mat-form-field>
  
  <!-- <mat-form-field class="filter1">
    <mat-label>Select Filter</mat-label>
    <mat-select >
      <mat-option value="incomplete">Incomplete</mat-option>
      <mat-option value="partially"  >Partially</mat-option>
      <mat-option value="complete"  >Complete</mat-option>
    </mat-select>
  </mat-form-field> -->

  
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
      
      
    
     
      <ng-container matColumnDef="dno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> D.No </th><mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <td mat-cell *matCellDef="let element"> {{element.id.dNo}} </td>
      </ng-container>
    

      <ng-container matColumnDef="sample">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enter Sample No.  </th>
        <td mat-cell *matCellDef="let element"><input type="text" value="sample" name="sample" [(ngModel)]="sample"> </td>
      </ng-container>
     
      <ng-container matColumnDef="save">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Save  </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="onAdd(element)" >Save</button> </td>
      </ng-container>
    
     
     
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
    
