table{
    width: 100%;
}
.export-container {
    text-align: right;
    margin-bottom: 20px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-column-position {
    max-width: 100px;
  }
  
  .mat-column-name {
    max-width: 100px;
  }