

<h2 mat-dialog-title>Please Enter the Details</h2>
<mat-dialog-content>
    <div class="form-control">
    Enter Blood GenePrint: <input type="text"  value="blood" name="blood" [(ngModel)]="labii.blood"> <br />
    Enter Date: <input type="date" value="date" name="date" [(ngModel)]="labii.date"> <br />
    LCL Geneprint: <input type="text" value="lcl" name="lcl" [(ngModel)]="labii.lcl"> <br />
    
    <div *ngIf="labii.blood==labii.lcl"><small>It's Matching</small></div> 

    <div *ngIf="labii.lcl!=labii.blood">
    Manually Matched :
<mat-form-field>
    <mat-select [(value)]="labii.isMatch">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
        
        
    </mat-select>
</mat-form-field>
</div>
<br />

    IPSC: <input type="text" value="ipsc" name="ipsc" [(ngModel)]="labii.ipsc"> <br />
    NSC: <input type="text" value="nsc" name="nsc" [(ngModel)]="labii.nsc"> <br />
    exome: <input type="text" value="exome" name="exome" [(ngModel)]="labii.exome"> <br />
   
    Completed:
    <mat-form-field>
        <mat-select [(value)]="labii.status">
            <mat-option value=true >True</mat-option>
            <mat-option value=false >False</mat-option>
          
            
            
        </mat-select>
    </mat-form-field>
    


</div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="labii">Save </button>
  <button mat-button [mat-dialog-close]="false">Close</button>
</mat-dialog-actions>


