/*label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}*/
mat-form-field{
    width: 500px;
    display: block;
   /* padding: 15px 0 15px 20px;*/
     margin-right: auto;
     margin-left: auto;
     position: relative;
}
  
.wrapper {
    text-align: center;
}

button {
    position: relative;
    width: 100px;

}

.example-container {
    height: 800px;
    width: 800px;
    overflow: auto;
  }
  
  table {
    width: 700px;
    margin: 0 auto;
    margin-top: 4%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table:last-child {
    border-left: 1px solid #e0e0e0;
  }

