

<!--<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)"  matInput placeholder="Filter">
</mat-form-field>-->

<div class="export-container">
	<button mat-raised-button color="primary" (click)="exportTable()">Export Table</button>
</div>

<table id="Exportdash" mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  
      
    <ng-container matColumnDef="can_id">
      <th mat-header-cell *matHeaderCellDef > Cannister ID
        <div>
          <mat-form-field>
      <input matInput class="form-field" [formControl]="canfilter" name = "canisterf" placeholder="Cannister Filter">
    </mat-form-field>
          </div> </th>
      <td mat-cell *matCellDef="let element"> {{element.cannister}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="rack_id">
      <th mat-header-cell *matHeaderCellDef > Rack Number 
        <div>
          <mat-form-field>
      <input matInput class="form-field" [formControl]="rackfilter" name = "rackf" placeholder="Rack Filter">
    </mat-form-field>
          </div>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.rack}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="empty_cells">
      <th mat-header-cell *matHeaderCellDef > Number of empty cells </th>
      <td mat-cell *matCellDef="let element"> {{element.emptyCells}} </td>
    </ng-container>
  
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  