table {
    width: 100%;
  }
  
  .export-container {
    text-align: right;
    margin-bottom: 20px;
  }
  
  /**.mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-column-can_id {
    max-width: 100px;
  }
  
  .mat-column-rack_id {
    max-width: 100px;
  }*/